.header {
    background-color: #bc002d;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

.searchbar {
    flex-grow: 1;
    max-width: 500px;
}

.btn {
    font-family: 'Shojumaru', cursive;
    background-color: #bc002d;
    color: white;
    border: none;
    text-align: center;
    flex-basis: 65px;
    font-size: 25px;
    position: relative;
    top: -4px;
}

.btn:hover i {
    animation: header-hover-anim 0.2s forwards;
}

@keyframes header-hover-anim {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.3);
    }
}