.btn_container {
    margin-bottom: 10px;
    height: 40px;
    text-align: center;
}

.btn {
    width: 90%;
    max-width: 500px;
    height: 100%;
    background-color: #bc002d;
    color: white;
    font-size: 22px;
    border: none;
}

.btn:hover {
    animation: btn-hover-anim 0.3s forwards;
}

@keyframes btn-hover-anim {
    from {
        transform: scale(1.0);
        background-color: #bc002d;
    }

    to {
        transform: scale(1.03);
        background-color: #8d0021;
    }
}