.product_card {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.product_img {
    margin: 0 auto 0 auto;
    object-fit: contain;
}

.product_title {
    margin: 10px 0 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}